<p>Personas</p>
<div *ngIf="datos">
    <h2>Listado de Personas</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Primer apellido</th>
          <th>Segundo apellido</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Código postal</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of datos">
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.primer_apellido }}</td>
          <td>{{ persona.segundo_apellido }}</td>
          <td>{{ persona.email }}</td>
          <td>{{ persona.telefono }}</td>
          <td>{{ persona.cp }}</td>
          <td>{{ persona.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>