<p>Registrar persona</p>
<form (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
  
    <label for="primerApellido">Primer Apellido:</label>
    <input type="text" id="primerApellido" name="primerApellido" [(ngModel)]="primerApellido" required>
  
    <label for="segundoApellido">Segundo Apellido:</label>
    <input type="text" id="segundoApellido" name="segundoApellido" [(ngModel)]="segundoApellido" required>
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" required>
  
    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" name="telefono" [(ngModel)]="telefono" required>
  
    <label for="codigoPostal">Código Postal:</label>
    <input type="text" id="codigoPostal" name="codigoPostal" [(ngModel)]="codigoPostal" (change)="consultarEstado()" required>
  
    <label for="estado">Estado:</label>
    <input type="text" id="estado" name="estado" [(ngModel)]="estado" [readonly]="true" required>
  
    <button type="submit">Registrar</button>
  </form>